<config>
	<testsToRun>
		<test>
			<testName>BaseBIRP</testName>
			<appPath>UnityProjects/BaseBIRP/Builds/BaseBIRP/base.apk</appPath>
			<packageName>BaseBIRP</packageName>
			<activityName>BaseBIRP</activityName>
			<appRunTime>15</appRunTime>
			<scenesToTest>
				<scene>Main</scene>
			</scenesToTest>
			<enabled>false</enabled>
		</test>
		<test>
			<testName>BaseURP</testName>
			<appPath>UnityProjects/BaseURP/Builds/BaseURP/base.apk</appPath>
			<packageName>BaseURP</packageName>
			<activityName>BaseURP</activityName>
			<appRunTime>15</appRunTime>
			<scenesToTest>
				<scene>Main</scene>
			</scenesToTest>
			<enabled>false</enabled>
		</test>
		<test>
			<testName>Passthrough</testName>
			<appPath>UnityProjects/Passthrough/Builds/Passthrough/Passthrough.apk</appPath>
			<packageName>com.Meta.PerfTesting</packageName>
			<activityName>com.unity3d.player.UnityPlayerActivity</activityName>
			<appRunTime>20</appRunTime>
			<scenesToTest>
				<scene>Main</scene>
			</scenesToTest>
			<enabled>true</enabled>
		</test>
	</testsToRun>
</config>