<config>
	<testsToRun>
		<test>
			<testName>BaseBIRP</testName>
			<appPath>UnityProjects/BaseBIRP/Builds/BaseBIRP/BaseBIRP.apk</appPath>
			<packageName>com.Meta.PerfTestBaseBIRP</packageName>
			<activityName>com.unity3d.player.UnityPlayerActivity</activityName>
			<appRunTime>20</appRunTime>
			<enabled>true</enabled>
		</test>
		<test>
			<testName>BaseURP</testName>
			<appPath>UnityProjects/BaseURP/Builds/BaseURP/BaseURP.apk</appPath>
			<packageName>com.Meta.PerfTestBaseURP</packageName>
			<activityName>com.unity3d.player.UnityPlayerActivity</activityName>
			<appRunTime>20</appRunTime>
			<enabled>false</enabled>
		</test>
		<test>
			<testName>Passthrough1</testName>
			<appPath>UnityProjects/Passthrough/Builds/Passthrough1/Passthrough1.apk</appPath>
			<packageName>com.Meta.PerfTestingPassthrough1</packageName>
			<activityName>com.unity3d.player.UnityPlayerActivity</activityName>
			<appRunTime>20</appRunTime>
			<enabled>true</enabled>
		</test>
		<test>
			<testName>Passthrough2</testName>
			<appPath>UnityProjects/Passthrough/Builds/Passthrough2/Passthrough2.apk</appPath>
			<packageName>com.Meta.PerfTestingPassthrough2</packageName>
			<activityName>com.unity3d.player.UnityPlayerActivity</activityName>
			<appRunTime>20</appRunTime>
			<enabled>false</enabled>
		</test>
	</testsToRun>
</config>